@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700|Special+Elite');

img.knit_sample {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.knit_sample {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
  #page-wrap {
    position: relative;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
  }
  p {
    font: 15px/2 Special elite, Serif;
    margin: 0 0 30px 0;
    text-indent: 40px;
  }

  h1, h2, h3, h4 {
    font-family:'Montserrat Alternates', sans-serif;
    /* margin:0 0 30px 0; */
    color: white;
    /* padding:0px; */
    /* text-indent: 40px; */
  }

}.flex-container {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-around;
  width: 100%;
  flex-align: center;
  margin: 20px auto;
}
.flex-box {
  padding: 10px;
  border: 1px solid black;
}
.service {
  width: 20%;
}
a {
  /* text-decoration: none; */
  font-family: 'special elite'
  /* text-size: 30px; */
}
.left{
  float:left;
}
h1{
  font-weight: 500;
  font-size: 100px;
  color: rgb(0, 102, 102);
}
h2{
  font-weight: 300;
  font-size: 50px;
  color: rgb(0, 51, 102);
}
