@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700|Special+Elite');

html {
  background: url("../img/knit_sample.jpg") left top repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

  h1, h2, h3, h4 {
    font-family:'Montserrat Alternates', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
  }

.flex-container {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-around;
  width: 100%;
  flex-align: center;
  margin: 20px auto;
  border: 1px solid black;
  background-color: rgba(38, 236, 52,0.5);
}
.flex-box {
  padding: 10px;
}
.service {
  width: 20%;
}
a {
  /* text-decoration: none; */
  font-family: 'special elite';
  text-decoration: none;
  color: rgb(0, 51, 102);
  font-weight: bold;
}
h1{
  font-weight: 500;
  font-size: 200px;
  color: rgba(38, 236, 52,1);
}
h2{
  font-weight: 300;
  font-size: 100px;
  color: rgb(0, 51, 102);
}
p{
  font-family: 'Special-Elite:400', serif;
  color: white;
}
